<form class="form-inline" (ngSubmit)="send()" [formGroup]="form">
  <div class="form-group mx-sm-6">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Mesajınız..."
      formControlName="chatmessage"
    />
  </div>
  <button
    type="submit"
    [disabled]="form.invalid || !connectionEstablished"
    class="btn btn-primary mb-2"
  >
    Gönder
  </button>
</form>
<ul class="list-group list-group-flush" *ngFor="let message of chatmessages">
  <li class="list-group-item">
    {{ message.sent | date: 'dd.MM.yyyy HH:mm:ss' }}: {{ message.message }}
  </li>
</ul>
